@using System.Security.Principal
@implements IDisposable
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider provider;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BlazorWebApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/about">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Web Forms About
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/contact">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Web Forms Contact
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/user/info">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Web Forms - Issues
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/api/values">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required Api
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/api/min-values">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required Min Api
            </a>
        </div>
        @if (IsLegacyPrerender)
        {
            // "legacy prerender" will be visible just for a short time and having just a static placeholder should be enough
            if (Username != null)
            {
                <div class="nav-item px-3">
                    <a class="nav-link" href="/Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @Username
                    </a>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="/logout">
                        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                    </a>
                </div>
            }
            else
            {
                <div class="nav-item px-3">
                    <a class="nav-link" href="/Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </a>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="/Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </a>
                </div>
            }
        }
        else
        {
            // Seems that authorize view does not work in legacy environment might need to use custom logic to replace it's features

            @if (Username != null)
            {
                <div class="nav-item px-3">
                    <a class="nav-link" href="/Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @Username
                    </a>
                </div>

                <div class="nav-item px-3">
                    @if (Identity != null && Identity.IsAuthenticated)
                    {
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    }
                    else
                    {
                        // Skip complexity of sharing Antiforgery, redirect to login page which has auto logout on it
                        <a class="nav-link" href="/logout">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </a>
                    }
                </div>
            }
            else
            {
                <div class="nav-item px-3">
                    <a class="nav-link" href="/Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </a>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="/Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </a>
                </div>
            }
        }

    </nav>
</div>

@code {
    [Parameter]
    public bool IsLegacyPrerender { get; set; }

    public bool IsLegacy { get; set; }

    [Parameter]
    public string? Username { get; set; }

    private IIdentity? Identity;

    private string? currentUrl;


    protected async override Task OnInitializedAsync()
    {
        if (IsLegacyPrerender)
        {
            return;
        }
        Identity = (await provider.GetAuthenticationStateAsync())?.User?.Identity;
        Username ??= Identity?.Name;
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        if (IsLegacyPrerender)
        {
            return;
        }
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        if (IsLegacyPrerender)
        {
            return;
        }
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

